@media (max-width : 550px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        height : 60%;
        padding-left : 70px;
        padding-right : 70px;
        row-gap: 50px;
    }

    .card-1 {
        grid-column: 1
    }
    
    .card-2 {
        grid-column: 1
    }
    
    .card-3 {
        grid-column: 1
    }
    
    .card-5 {
        grid-column: 1
    }

    .name {
        font-size: 36px;
    }

    .verified {
        font-size: 30px;
    }

    .highlight-text {
        font-size: 48px;
    }

    .detail-text {
        font-size: 36px;
    }

    .profile-img {
        border-radius: 80px;
        height : 90px;
        width : 90px;
        border: 1px solid hsl(0, 0%, 81%);
    }

    .quote-img {
        height: 200px;
        width: 200px;
    }
}