* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    background-color: hsl(210, 46%, 95%);
}

.container {
    display: grid;
    gap : 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height : 500px;
    width: 1200px;
    margin: 150px auto 0 auto;
}

.card {
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 25px;
}

.profile-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.name {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}

.verified {
    font-size: 11px;
    color: hsl(0, 0%, 100%);
    font-weight: 100;
}

.profile-img {
    border-radius: 80px;
    height : 30px;
    width : 30px;
    border: 1px solid hsl(0, 0%, 81%);
}

.highlight-text {
    font-size: 16px;
    z-index: 1;
    position: relative;
    color : hsl(210, 46%, 95%)
}

.detail-text {
    font-size: 12px;
    z-index: 1;
    position: relative;
    margin-top: 10px;
    color: hsl(0, 0%, 81%);
}

.name-dark {
    color: hsl(219, 29%, 14%);
}

.verified-dark {
    color: hsl(217, 19%, 35%);
}

.highlight-dark {
    color: hsl(219, 29%, 14%);
}

.detail-dark {
    color: hsl(217, 19%, 35%);
}

.card-1 {
    grid-column: 1 / span 2;
    background-color: hsl(263, 55%, 52%);
    position: relative;
}

.card-2 {
    background-color: hsl(217, 19%, 35%);
}

.card-3 {
    grid-column: 4 / -1;
    grid-row: 1 / -1;
    background-color : hsl(0, 0%, 100%);
}

.card-5 {
    grid-column: 2 / span 2;
    background-color: hsl(219, 29%, 14%);
}

.quote-img {
    position: absolute;
    right : 80px;
    top : 0;
    z-index: 0;
}